<h1>Welcome to GLSAMaker2!</h1>

<span class="floatright">
Show <%= select_tag :per_page, options_for_select([10,25,50], @per_page), :onchange => "if(this.value){window.location='?per_page='+this.value;}" %> Drafts
</span>

<div class="box">
  <h2>My last <%= @per_page %> drafts</h2>
  
  <table class="glsamaker-table">
  <tr align="left">
    <th>ID</th>
    <th>State</th>
    <th>Title</th>
    <th>Submitted at/by</th>
    <!--<th>Bug IDs</th>-->
    <% if current_user.is_el_jefe? %><th>Admin</th><% end %>
  </tr>

  <%= render :partial => "glsa/glsa_row", :collection => @my_drafts, :as => :glsa, :locals => { :view => :drafts } %>
  </table>
</div>
<br />
<% if current_user.access > 1 %>
<div class="box">
  <h2>GLSA Drafts to be reviewed</h2>

  <table class="glsamaker-table">
  <tr align="left">
    <th>ID</th>
    <th>State</th>
    <th>Title</th>
    <th>Submitted at/by</th>
    <% if current_user.is_el_jefe? %><th>Admin</th><% end %>
  </tr>

  <%= render :partial => "glsa/glsa_row", :collection => @my_review_drafts, :as => :glsa, :locals => { :view => :drafts } %>
  </table>
</div>
<% end %>
